body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/*** style de touts la barre de menu***/
header {
    position: fixed;
    background-color: #D9D9D9;
    color: #000000;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
    height:50px;}
    .imageaccueil{
        width: 100%;
    }
    /*** style logo***/
    .Logo{
    width:50px;}

    /*** style du logo du menu***/
.menu{
    display: flex ;
    gap:30px; 
    color: #000000;
    margin-right: 20%;
}
/*** style des menu***/
nav{
    font-size:20px;
    margin: 0 7px;

}
p{
text-align: center}
    /*** styles aporos**/

.apropos{
    background-color: #174076 ;   
 text-align: center;
 width: 450px;
right: 50%;
border-radius: 10px;
margin-left: 40%;
}
.comentaireapropos{
    position: absolute;
    width:736px;
    height: 496px;
    right: 10%; 
    line-height: 50px;
    transition: 0,5s;
}
.imageapropos{
    
    float: left;
    margin-left: 40px;
    border-radius: 20%;
    margin-bottom: 20px;
    margin-left: 10%;
}
h2{
    clear:both;
}
/*** style nos services***/
.textenosservices{
    background-color: #174076 ;   
 text-align: center;
 width: 450px;
right: 50%;
border-radius: 10px;
margin-left: 40%;
margin-top: 100px;
}
/*** cemteur au niveau de nos services***/
.serviceintro{
    text-align: center;
}

.contenue{/*** tous le partie apre le comentaire***/
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    max-width: 1200px;
     margin: 40px auto;
      padding: 20px; } 
      
      .corp{ background-color: #D9D9D9;     
         border-radius: 8px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
          padding: 20px; 
          text-align: center; 
          transition: transform 0.3s ease;
        }
.corp:hover{
    transform: translate(-5px);
}
.corp img{/*** il est sur tous lesimages***/
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.corp h3{/*** les sous titre**/
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.corp p{
    font-size: 14px;
    color:#666;
    line-height: 1,5;
}
.video1{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
/*** style nos service***/
.tnosevenement{/*** TEXTE DE NOS SERVICES**/
    background-color: #174076 ;   
 text-align: center;
 width: 450px;
right: 50%;
border-radius: 10px;
margin-left: 40%;
margin-top: 100px;
}
.timage{/*** image de nos evenement***/
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    max-width: 700px;
     margin-left: 10%;
      padding: 20px; 
    } 
    
    
    /*** sectioncontact***/
    .Contact div h2{/*** le sous titre***/
        background-color: #174076 ;   
 text-align: center;
 width: 450px;
right: 50%;
border-radius: 10px;
margin-left: 40%;
margin-top: 50px;
    }  
    /*** Localisasion style***/
    .localisation{/*** icone localosation style***/
        margin-left: 50%;
        float: left;
        margin-top: -8px;
    }
    .tlocal {/*** texte de localisation***/
        margin-right: 28%;
        margin-top: 40px; 
        line-height: 30px;
    }
    .iconeemail{
        clear: both;
    }
    .email{
        margin-left: 50%;
        float: left;
        margin-top: -18px;
    }
    .temail {
        margin-right: 30%;
        margin-top: 50px; 
        line-height: 40px;}
    .iconecontact{
        clear: both;
    }
    .imgcontact{
        margin-left: 50%;
        float: left;
        margin-top: -20px;
    }
    .Tel {/***style des numeros***/
        margin-right: 28%;
        margin-top: 50px; 
        line-height: 30px;}

        /*** styel footer***/
        footer{
            background-color: #9fc2f1;
            width: 100%;
            height: 450px;
            margin-top: 120px;
            margin: center ;
        }
        .reseau{/*** style de reseau***/
            margin-left: 80%;
            border-radius: 50%;
            margin-right: 80%;
            margin-top: -200px;
            
        }
        .signarure{
             margin-left: -60px;
            margin-top: 100px;
        }
        .CiteInfo{
            margin-left: 50%;
        margin-top: -170px;
        }
        .Partenaire{
            margin-left: 20%;
            margin-top: -170px;
            
        }
        @media  (max-width:830px) 
{
    

    .menu{/***resposivité1 du  menu**/
    display:flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0;
width: 80%;
    line-height: 2px;
    margin-top: 8px;
}
.header{/***resposivité1 duheader */
    height:60%;
    width:100%;
}
.imageaccueil{/***resposivité1 de l'image acceil**/
    width: 90%;
}
.Logo{
    width: 40px;
    height: 40px;
    margin-top:-10%;
    margin-left: -10%;
    min-width: 220px;
}

.apropos{
    width: 100px;
    height: 160px;
    text-align: center;
    margin: -5px;
    margin-bottom: 40px;
}
.imageapropos{
margin-top: 380px;
width: 90%;
}
.comentaireapropos{
    width: 90%;
    line-height: 20px;
    
}.contenue{
    display: flex; 
    flex-direction: column; 
    text-align: center;
 } 
 .contenue h2 {
    width: 200px;
 }
 .video1{
    width:70%; 
 }
 .textenosservices{
    width: 100px;
    height: 80px;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;}

 .tnosevenement{
    width: 100%;

}
.timage{ display: flex; 
    flex-direction: column;
    width: 90%;
}
.Contact div h2{
    width: 160px;
    height: 100px;
    text-align: center;
    margin: 0px;
    margin-bottom: 60px;
}
/*** RESPOSIVE FOOTER***/
.footer{
height: 400px;
width: 90%;
min-width: 510px;
}
.Partenaire{
    margin-left: 20px;
}
.CiteInfo{
    margin-left: 200px;
}


}
/***
@media  (max-width:1400px){
    .imageaccueil{/***resposivité1 de l'image acceil
        width: 100%;
    }
        .header{
            width: 90%;
        }
    
    }
***/
            
        
