body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/*** style de touts la barre de menu***/
header {
    position: fixed;
    top: 0;
    background-color: #D9D9D9;
    color: #000000;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
    height:60px;
    z-index: 1000;
}
    .imageaccueil{
        padding: 0 20px 2px 20px;
        width: 100%;
    }
    /*** style logo***/
    .Logo{
    width:50px;
height: auto;}

    /*** style du logo du menu***/
.menu{
    display: flex ;
    gap:30px; 
    color: #000000;
    margin-right: 20%;
}
/*** style des menu***/
nav{
    font-size:20px;
    margin: 0 7px;

}
p{
text-align: center}
    /*** styles aporos**/

.apropos{
    color: white;
    background-color: #174076 ;   
    text-align: center;
    width: 80%;
   max-width: 450px;
   margin: 40px auto;
   border-radius: 10px;
   padding: 20px;
   transition: transform 0.3s ease;
}
.comentaireapropos{
    position: absolute;
    width: 90%;
    max-width: 736px;
    margin: 20px auto;
    height: 496px;
    right: 2%; 
    line-height: 1,5;
    
}
.imageapropos{
    
    float: left;
    margin-left: 5%;
    border-radius: 20%;
    margin-bottom: 20px;
    
    width: 80%;
    height: auto;
}
h2{
    clear:both;
}
/*** style nos services***/
.textenosservices{
    color: white;
    background-color: #174076 ;   
 text-align: center;
 width: 80%;
max-width: 450px;
margin: 40px auto;
border-radius: 10px;
padding: 20px;
transition: transform 0.3s ease;

}
/*** cemteur au niveau de nos services***/
.serviceintro{
    text-align: center;
}

.contenue{/*** tous le partie apre le comentaire***/
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    max-width: 1200px;
     margin: 40px auto;
      padding: 20px; } 
      
      .corp{ background-color: #D9D9D9;     
         border-radius: 8px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
          padding: 20px; 
          text-align: center; 
          transition: transform 0.3s ease;
        }
.corp:hover{
    transform: translate(-5px);
}
.corp img{/*** il est sur tous lesimages***/
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.corp h3{/*** les sous titre**/
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.corp p{
    font-size: 14px;
    color:#666;
    line-height: 1,5;
}
.video1{
    border-radius: 10px;
  margin: 20px 0;
    width: 100%;
}
/*** style nos service***/
.tnosevenement{/*** TEXTE DE NOS SERVICES**/
    color: white;
    background-color: #174076 ;   
 text-align: center;
 width: 80%;
max-width: 450px;
margin: 40px auto;
border-radius: 10px;
padding: 20px;
transition: transform 0.3s ease;
}
.evenementintro ,.serviceintro,.commentaire-entre{
    text-align: center;
}
.timage{/*** image de nos evenement***/
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    max-width: 700px;
     margin-left: 10%;
      padding: 20px; 
    } 
    
    /*** sectioncontact***/
    .Contact div h2{/*** le sous titre***/

         color: white;
    background-color: #174076 ;   
 text-align: center;
 width: 80%;
max-width: 450px;
margin: 40px auto;
border-radius: 10px;
padding: 20px;
transition: transform 0.3s ease;
    }  
    .localisation,.email,.imgcontact{
        margin: 20px;
        text-align: center;
    }

        /*** styel footer***/
        footer{
        
            background-color: #9fc2f1;
            width: 100%;
            padding: 40px ;
            text-align: center;
        }
        .reseau{/*** style de reseau***/
            display: flex;
           flex-direction: column;
            gap: 20PX;
            margin-top: 20px; 
            text-align: right;
              
        }
        .signarure{
             margin: 20px 0;
        }
        .CiteInfo{
            margin: 20px 0;
    
        }
        .Partenaire{
           margin: 20px 0;
            
        }
        
        
        
        @media (max-width: 768px) {
            header {
                flex-direction: column;
                align-items: flex-start;
                height: auto;
            }

            .menu {
                flex-direction: column;
                gap: 15px;
                margin-right: 0;
            }
        
            .apropos, .textenosservices, .Contact div h2 {
                width: 90%;
                margin: 20px auto;
                margin-left: 200px;
            }
            .imageapropos{
                margin-top: 280px;
                width: 100%;
                }
        
            .contenue {
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                width: 90%;
                
            }
            .video1{
                width: 90%;
            }
            .timage {
                grid-template-columns: repeat(2, 1fr);
                width: 90%;
            
            }
            .textenosservices,.IN
            .imageaccueil{
            width: 90%;
            }
            footer {
                font-size: 0.9rem;
                width: 100%;
            

        }
        
        @media (max-width: 480px) {
            header {
                padding: 10px;
            }
        
            .menu {
                font-size: 0.9rem;
            }
        
            .corp img {
                width: 40px;
                height: 40px;
            }
        
            .contenue {
                grid-template-columns:repeat(2, 1fr);
        
            }
        
        .video1{
            width: 90%;
        }
            .timage{
                grid-template-columns: repeat(2, 1fr);
            
            }
            .imageapropos{
                margin-top: 420px;
                width: 90%;
                }
            .textenosservices, .apropos, .Contact div h2 {
                font-size: 0.9rem;
                width: 100%;
                padding: 10px;
            }
        
            footer {
                font-size: 0,9rem;
                width: 100%;
            }
            .imageaccueil{
                width: 90%;
            }
        }
        
        /**
        @media screen and (max-width:768px)   
{.header{/***resposivité1 duheader 
    flex-direction: column;
align-items: center;
padding: 15px;
position: relative;
}
    .menu{/***resposivité1 du  menu
    display:flex;
    flex-direction: column;
width: 80%;
    line-height: 2px;
    margin-top: 8px;
}

.imageaccueil{/***resposivité1 de l'image acceil
    width: 300px;
}
.Logo{
    width: 40px;
    height: 40px;
    margin-top:-10%;
    margin-left: -10%;
    min-width: 220px;
}

.apropos{
    width: 100px;
    height: 160px;
    text-align: center;
    margin: -5px;
    margin-bottom: 40px;
}
.imageapropos{
margin-top: 650px;
width: 90%;
}
.comentaireapropos{
    width: 90%;
    line-height: 20px;
    
}.contenue{
    display: flex; 
    flex-direction: column; 
    text-align: center;
 } 
 .contenue h2 {
    width: 200px;
 }
 .video1{
    width:300px; 
 }
 .textenosservices{
    width: 100px;
    height: 80px;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;}

 .tnosevenement{
    width: 100%;

}
.timage{ display: flex; 
    flex-direction: column;
    width: 90%;
}
.Contact div h2{
    width: 160px;
    height: 100px;
    text-align: center;
    margin: 0px;
    margin-bottom: 60px;
}
/*** RESPOSIVE FOOTER
.footer{
height: 100%;
width: 90%;
min-width: 400px;
}
.Partenaire{
    margin-left: 20px;
}
.CiteInfo{
    margin-left: 200px;
}
}***/



